<ul class="links">
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Textot\' us!', new_texto_path %></li>
	
	<% if user_signed_in? %>
    <li><%= link_to 'My info', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path %></li>
	<% else %>
	<li><%= link_to 'Register', new_user_registration_path %></li>
	<li><%= link_to 'Sign In', new_user_session_path %></li>
	<% end %>
</ul>