<%= form.error_messages %>

	<div class="field">	
		  <p><%= form.text_area :content %></p>
	</div>
	
	<div id="reply">
	  <% form.fields_for :replies do |reply_form| -%>
	    <%= render :partial => 'reply', :locals => { :form => reply_form } %>
	  <% end -%>
	</div>
	
	<%= add_reply_link(form) %>
	
  <div class="actions">
    <%= submit_tag %>
  </div>

