<h1>Listing textos</h1>

<% for texto in @textos %>
	<%= render :partial => "texto", :locals => {:texto => texto} %>
	<%= link_to "Read Comments (#{texto.comments.length})", texto %> 
	<%= link_to 'Like', vote_up_texto_path(texto), :remote=>true %>
	<%= link_to 'Dislike!', vote_down_texto_path(texto), :remote=>true %>
	<%= link_to_favorite(texto) %>
<% end %>

<br />
<div id="paginate"><%= will_paginate @textos %></div>

<%= link_to 'New texto', new_texto_path %>
