<%= render :partial => "texto", :locals => {:texto => @texto} %>

<div id="comments">
<h2>Comments</h2>
<%= render :partial => "comments/comment", :collection => @texto.comments %>
</div>

<% if user_signed_in? %>
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% else %>
	<p>Please sign in to post a comment</p>
<%end%>


<%= link_to 'Edit', edit_texto_path(@texto) %> |
<%= link_to 'Back', textos_path %>
